{% extends "base.html" %}

{% block pageName %}Add Remarks{% endblock %}
{% block name2 %} Add remarks {% endblock %}

{% block content%}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <label for="" class="d-block pt-4 font-weight-bold">Remarks</label>
                        {{ form.remarks }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary my-3"><i class="ik ik-clipboard"></i>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}